<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
		<div th:fragment="content" class="col-xl-2">
						<div class="card m-2">
							<div class="card-body text-center">
								<a th:href="@{'/p/'+${product.alias}}">
									<img th:src="@{${product.getMainImagePath}}" alt="product" width="200" height="150"/>
									&nbsp;
									<hr />
									<strong>[[${product.shortName}]]</strong>
								</a>
							</div>
							
							<div th:if="${product.discountPercentage <= 0}">
								<strong>&#8377;[[${product.cost}]]</strong>
								<del><strong>&#8377;[[${product.cost}]]</strong></del>
								<strong style="color: green;">[[${product.getDiscountPercentage}]]&#37; off</strong>
							</div>
							
							<div th:if="${product.discountPercentage > 0}">
								<strong style="color: darkred">&#8377;[[${product.getDiscountPrice}]]</strong>
								&nbsp;<del><strong>&#8377;[[${product.price}]]</strong></del>
								<strong style="color: green;">[[${product.getDiscountPercentage}]]&#37; off</strong>
							</div>
						</div>
		</div>

</body>

</html>