<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
		<div th:fragment="content" class="col-xl-2">
						<div class="card m-2">
							<div class="card-body text-center">
								<a th:href="@{'/p/'+${product.alias}}">
									<img th:src="@{${product.getMainImagePath}}" alt="product" width="200" height="150"/>
									&nbsp;
									<hr />
									<strong>[[${product.shortName}]]</strong>
								</a>
							</div>
							
							<div th:if="${product.discountPercentage <= 0}">
								<div th:replace="products/product_info :: price_fragment(${product.price})"></div>
							</div>
							
							<div th:if="${product.discountPercentage > 0}">
								<strong style="color: darkred"><div th:replace="products/product_info :: price_fragment(${product.discountPrice})"></div></strong>
								  <del><div th:replace="products/product_info :: price_fragment(${product.price})"></div></del>
								<strong style="color: green;">[[${product.getDiscountPercentage}]]&#37; off</strong>
							</div>
						</div>
		</div>

		<div th:fragment="price_fragment(productPrice)" th:remove="tag">

			<strong>
		
				<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice, 1, THOUSAND_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]
				
				</span>
				
			</strong>
			
		</div>
		
</body>

</html>