<div class="modal-header">

	<h4 class="modal-title" style="color: red;">Product Details</h4>

	<button type="button" class="close" data-dismiss="modal" aria-label="Close">

		<span aria-hidden="true">&times;</span>

	</button>

</div>

<div>
		<div>
			<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				
				  <li class="nav-item" role="presentation">
				  
				    <a class="nav-link active"  data-toggle="tab" href="#overview" role="tab">Overview</a>
				    
				  </li>
				  
				  <li class="nav-item" role="presentation">
				  
				    <a class="nav-link"  data-toggle="tab" href="#description" role="tab">Description</a>
				    
				  </li>
				  
				  <li class="nav-item" role="presentation">
				  
				    <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a>
				    
				  </li>
				  
				  <li class="nav-item" role="presentation">
				  
				    <a class="nav-link" data-toggle="tab" href="#details" role="tab">Product Details</a>
				    
				  </li>
				  
				  <li class="nav-item" role="presentation">
				  
				    <a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping Details</a>
				    
				  </li>
				  
				</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">
			
			  <div class="tab-pane active m-5" id="overview" role="tabpanel">	
			  	
			  	<div class="form-group row">
			  	
					<label for="name" class="col-sm-4 col-form-label">PRODUCT NAME</label>
				
					<div class="col-sm-8">
						
						<input type="text" class="form-control" th:value="${product.name}" readonly="readonly"/>
					
					</div>
				  	
			 	</div>
			  
			   
			  		
			  		<div class="form-group row ">
						
						<label for="alias" class="col-sm-4 col-form-label">ALIAS</label>
				
						<div class="col-sm-8">
						
							<input type="text" class="form-control" th:value="${product.alias}" readonly="readonly"/>
			
						</div>
				
					</div>
			  		
			  
			  
			  	
			  	<div class="form-group row ">
			
						<label for="brand" class="col-sm-4 col-form-label">BRAND</label>
				
						<div class="col-sm-8">
							<input type="text" class="form-control" th:value="${product.brand.brandName}" readonly="readonly"/>		
						</div>
				</div>
			  	
			  	
			  	<!-- category drop down -->
				<div class="form-group row ">
				
					<label for="category" class="col-sm-4 col-form-label">CATEGORY</label>
					
					<div class="col-sm-8">
					
						<input type="text" class="form-control" th:value="${product.category.name}"readonly="readonly"/>
							
					</div>
				  
				  
				  	
				</div>
				
				<!-- is enabled -->
				<div class="form-group row ">
				
					<label for="isenabled" class="form-label col-sm-4 col-form-level">ENABLED</label>
					<div class="col-sm-8">
						<input type="checkbox" id="isenabled" name="enabled" th:checked="${product.enabled}" onclick="return false;" />
					</div>		
				</div>
				
				<!-- is in-stock -->
				<div class="form-group row ">
				
					<label for="instock" class="form-label col-sm-4 col-form-level">IN-STOCK</label>
					<div class="col-sm-8">
						<input type="checkbox" id="instock" name="instock" th:checked="${product.inStock}" onclick="return false" />
					</div>		
				</div>
				
				<!-- cost -->
				<div class="form-group row ">
					<label for="cost" class="col-sm-4 col-form-label">COST</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:value="${product.cost}" readonly="readonly"/>
					</div>
				</div>
				
				<!-- list-price -->
				<div class="form-group row ">
					<label for="price" class="col-sm-4 col-form-label">LIST PRICE</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:value="${product.price}" readonly="readonly"/>
					</div>
				</div>
				
				<!-- discount -->
				<div class="form-group row ">
					<label for="discount" class="col-sm-4 col-form-label">DISCOUNT PERCENTAGE</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" th:value="${product.discountPercentage}" readonly="readonly"/>
					</div>
				</div>
				
				<!-- Updated time of the product  -->
				<div class="form-group row ">
				
					<label for="discount" class="col-sm-4 col-form-label">UPDATED DATE & TIME</label>
					
					<div class="col-sm-8">
					
						<span th:text="${#dates.format(product.updatedTime,'dd-MM-yyyy HH:mm:ss')} "></span>
					
					</div>
					
				</div>
				  	
			</div>
			
			<div class="tab-pane m-3" id="description" role="tabpanel">
				
				<div th:replace="products/product_description_readonly :: pdescription"></div>
							  
			</div>
			
			<div class="tab-pane m-5" id="images" role="tabpanel">
				
				<div th:replace="products/product_Images_readonly :: pImages"></div>
				
			</div>
			
			<div class="tab-pane m-4" id="details" role="tabpanel">
						  		  	
			  	<div th:replace="products/product_details_readonly :: pdetails"></div>
						  
		  	</div>
		  
		  
		  	<div class="tab-pane m-3" id="shipping" role="tabpanel">
				
				<div th:replace="products/product_shipping_readonly :: pshipping"></div>
				  			  	
		  	</div>
		
		
	</div>
	
		<div class="modal-footer">
		        						
		       <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      					
		</div>
	
	</div>
	
</div>