<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: page_header('Shopify Home')"/>
	
	<body>
			<div class="container-fluid">
				<div th:replace="navigationfragment :: header_menu"></div>
					
					<div class="text-center m-3">
						<h1>Welcome to Shopify e-Commerce</h1>
					</div>
				
				<div class="container-fluid">
				
					<div class="row">
						
						<div class="col" th:each="cat : ${listCategories}">
							
							<div class="card m-3">
								<div class="card-body text-center">
										<img alt="category Images" th:src="@{${cat.getPhotosImagePath}}" width="200" height="150">
								</div>
								<div class="text-center">
									<a th:href="${'c/'+ cat.alias}">[[${cat.alias}]]</a>
								</div>
							</div>
					    </div>
				    	
				    </div>
				
				</div>		
			
			</div>
				
				&nbsp;
				&nbsp;
				&nbsp;
				&nbsp;
				
				<div th:replace="navigationfragment :: footer_menu"></div>

		
	</body>
	
</html>